* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: rgb(94, 170, 111);
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 35px;
    ;

}

header p {
    margin-top: 20px;
}

header ul {
    display: flex;
    gap: 35px;
}

#Hero {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#Hero h1{
    font-size: 2rem;
    margin: 20px;
}

#projetos{
    background-color: #46b146; 
    padding: 20px; 
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #46b146;
}

.card {
    color: #000000;
    background-color: #ac855b;
    border: 1mm solid bisque;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.card button {
    background-color: #ac855b ;
    color: blue;
    border-radius: 5px;
    border: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ac855b;
    
}

footer h3 {
    font-size: 30px;
}
footer p {
    font-size: 20px;
}

footer button {
    color: blue;
    background-color: #ac855b;
    border: 0;
    font-size: 20px;
}


